<mat-card>
    <mat-card-header>
        <mat-card-title>{{item.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-actions align="end">
        <button mat-icon-button color="warn" (click)="delete()" matTooltip="Usuń"><mat-icon>clear</mat-icon></button>
        <button mat-icon-button color="primary" (click)="edit()" matTooltip="Edytuj"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="primary" (click)="show()" matTooltip="Podgląd"><mat-icon>visibility</mat-icon></button>
        <button mat-icon-button color="primary" (click)="show()" matTooltip="Wyniki"><mat-icon>show_chart</mat-icon></button>
    </mat-card-actions>
</mat-card>