form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.questions > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    mat-form-field {
        width: 100%;
    }
}

.custom-fab {
    position: fixed;
    bottom: 20px;

    &.right{
        right: 20px;
    }
    &.left {
        left: 20px
    }
}