<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Tytuł ankiety</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Opis ankiety</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <h2>Pytania</h2>
    <div formArrayName="questions">
    @for (question of questions.controls; track question; let idx = $index) {
      <mat-card [formGroupName]="idx">
        <mat-card-content>
          <div>
            <mat-form-field appearance="outline">
          <mat-label>Pytanie {{idx + 1}}</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
        <button mat-icon-button color="warn" type="button" matTooltip="Usuń pytanie" (click)="remove(idx)">
          <mat-icon>clear</mat-icon>
        </button>
          </div>

        <mat-chip-listbox #list aria-label="Type of inputs" formControlName="type"> 
          @for (type of inputTypes; track $index) {
            <mat-chip-option [value]="type.type" (selectionChange)="select(idx, $event)">{{type.translation}}</mat-chip-option>
          }
        </mat-chip-listbox>

        <div class="answers" formArrayName="answers">
          @for (answer of getAnswers(idx).controls; track answer; let ida = $index) {
              <div formGroupName="{{ida}}">
                  <mat-form-field appearance="outline">
                      <mat-label>Odpowiedź</mat-label>
                      <input matInput formControlName="label" placeholder="Napisz odpowiedź">
                  
                      <button matSuffix mat-icon-button color="warn" type="button" matTooltip="Usuń" (click)="removeAnswer(ida, idx)">
                          <mat-icon>close</mat-icon>
                        </button>
                  </mat-form-field>
              </div>
          }
      </div>
      <div>
        <button mat-stroked-button color="accent" type="button" (click)="addAnswer(idx)"><mat-icon>add</mat-icon>Dodaj</button>
      </div>
    </mat-card-content>
    </mat-card>
    }
    <div class="action">
      <button mat-stroked-button color="accent" type="button" (click)="addQuestion()"><mat-icon>add</mat-icon>Pytanie</button>
    </div>
    
    <button mat-raised-button color="primary" type="submit">Zapisz</button>
  </div>
</form>
