.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
    align-items: stretch;
    height: 100%;

    >div{
        background-color: floralwhite;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:nth-child(odd){
        background-color: whitesmoke;
        }
    }
}